<nav class="navbar navbar-light bg-light static-top">
    <div class="container">

        <a class="navbar-brand" href="/"><h5>Deportes</h5></a>
        <a class="navbar-brand" href="/app/profesores/listar"><h5>Profesores</h5></a>
        <a class="navbar-brand" href="/app/materias/listar"><h5>Materias</h5></a>
        <a class="navbar-brand" href="/app/crear_deporte"><h5>Crear Deporte</h5></a>
        <a class="navbar-brand" href="/app/crear_profesor"><h5>Nuevo Profesor</h5></a>
        <a class="navbar-brand" href="/app/crear_materia"><h5>Crear materia</h5></a>

    </div>
</nav>