<nav class="navbar navbar-light bg-light static-top">
    <div class="container">

        <a class="navbar-brand" href="/app/deportes"><h5>Deportes</h5></a>
        <a class="navbar-brand" href="/app/profesores"><h5>Profesores</h5></a>
        <a class="navbar-brand" href="/app/materias"><h5>Materias</h5></a>
        <a class="navbar-brand" href="/app/deporte"><h5>Crear Deporte</h5></a>
        <a class="navbar-brand" href="/app/profesor"><h5>Nuevo Profesor</h5></a>
        <a class="navbar-brand" href="/app/materia"><h5>Crear materia</h5></a>

    </div>
</nav>